---
import { Image } from "@astrojs/image/components";
import { clients } from "@/data/clients";
// import { motion } from "motion/react";
---

<div
	class="no-scrollbar absolute left-1/2 right-auto -mt-8 w-screen -translate-x-1/2 items-center justify-center overflow-y-hidden border md:mt-16"
>
	<div class="flex flex-shrink-0">
		<div class="marquee">
			{
				clients.map((client) => {
					if (!client.agency) {
						return (
							<a href={client.url} target="_blank">
								<Image class="tpl" src={client.img.import} alt={client.name} />
							</a>
						);
					} else {
						if (client.clients?.length) {
							return (
								<>
									<a href={client.url} target="_blank">
										<Image class="tpl" src={client.img.import} alt={client.name} />
									</a>
									{client.clients?.map((c) => {
										return (
											<a href={c.url} target="_blank">
												<Image class="tpl" src={c.img.import} alt={c.name} />
											</a>
										);
									})}
								</>
							);
						}
					}
				})
			}
		</div>
		<div class="marquee m2 w-full">
			{
				clients.map((client) => {
					if (!client.agency) {
						return (
							<a href={client.url} target="_blank">
								<Image class="tpl" src={client.img.import} alt={client.name} />
							</a>
						);
					} else {
						if (client.clients?.length) {
							return (
								<>
									<a href={client.url} target="_blank">
										<Image class="tpl" src={client.img.import} alt={client.name} />
									</a>
									{client.clients?.map((c) => {
										return (
											<a href={c.url} target="_blank">
												<Image class="tpl" src={c.img.import} alt={c.name} />
											</a>
										);
									})}
								</>
							);
						}
					}
				})
			}
		</div>
	</div>
</div>
